.nav{
    font-size: 30px;
    text-align: center;
    color: yellow;
    position: row;
    /* margin-left: 420px; */
}

.nav-link{
    color: yellow;
}

.jumbotron{
    background-color: yellow;
}

.card-img-top{
    height: 600px;
}

.card{
    background: yellow;
    width: 1700px;
    padding: 1700;
    margin-left: 150px;
    
}

h3{
    position:absolute;
    color:blue;
    left:10px;
    bottom: 40px;
    font-size:24px;
}

h4{
    position:absolute;
    color:blue;
    left:900px;
    bottom: 40px;
    font-size:24px;
}

h5{
    position:absolute;
    color:blue;
    left:1600px;
    bottom: 40px;
    font-size:24px;
}

h1{
    color: blue;
}

p{
    color: blue;
    font-size: 30px;
}

.card-tite{
    font-size: 30px;
}

.img{
    width: 1200px;
}
.carousel-inner{
    width
}

body {
    background-image: url(./Reef-Saltwater-aquarium-by-Okeanos-Group-900x607.jpg);
}

a:hover{
    color: silver;
}

.footer{
    margin-left: 825px;
    color: yellow;
    font-size: 30px;
    font-weight: 800px;
    margin-top: 200px;
}

h6 {
    color: yellow;
}


.fillin {
    max-width: 600px;
    text-align: center;
    margin-left: 35%;
    padding-top: 10px;
    height: 615px;
    border-style: solid;
    border-width: 8px;
    border-color: yellow;
    border-radius: 10px;
}

h2 {
    color: yellow;
}

@media(max-width: 480px) {

